In [12]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] =10,6

In [13]:
df0=pd.read_csv(r"D:\github\DataScience\t question formulation\Outputs\Total_HIV_monthly.csv")

In [ ]:
df0.

In [14]:
df0['Month'] = pd.to_datetime(df0['Month'], infer_datetime_format=True)
indexeddf0 = df0.set_index(['Month'])

In [15]:
from datetime import datetime
indexeddf0.head(5)

            HIVCASES
Month
2021-01-21    316515
2021-02-21    368605
2021-03-21    465484
2021-04-21    356352
2021-05-21    307185

In [16]:
endTrain=10
df3=df0.copy(deep=True)
print(df3)

        Month  HIVCASES
0  2021-01-21    316515
1  2021-02-21    368605
2  2021-03-21    465484
3  2021-04-21    356352
4  2021-05-21    307185
5  2021-06-21    271849
6  2021-07-21    303025
7  2021-08-21    332031
8  2021-09-21    351848
9  2021-10-21    308013
10 2021-11-21    312289
11 2021-12-21    251349

In [17]:
df3["Month"]=df3.index
train=df3[df3.index<=endTrain] #train takes 2019 & 2020
test=df3[df3.index>endTrain]

In [18]:
from pmdarima.arima import auto_arima
train = df3.drop(['Month'],axis=1)
print(train)

    HIVCASES
0     316515
1     368605
2     465484
3     356352
4     307185
5     271849
6     303025
7     332031
8     351848
9     308013
10    312289
11    251349

In [19]:
model = auto_arima(train, error_action='ignore', suppress_warnings=True)

In [20]:
model.fit(train) #trains the model

ARIMA(order=(0, 0, 0), scoring_args={}, suppress_warnings=True)

In [21]:
predicted=model.predict(n_periods=len(test))
print(predicted)

[328712.08333333]

In [22]:
data=test.copy(deep=True)
data["predicted"]=predicted
data

    Month  HIVCASES      predicted
11     11    251349  328712.083333